.progress {
    margin-bottom: 0px !important;
}
.panel-group {
    margin-bottom: 5px !important;
}
.projHeading {
    background-color:#C0C0C0 !important;
}
.taskHeading {
    background-color:#DCDCDC !important;
}